<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PULEET 2024-Panjab University</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
</head>
<body>

  <%- include('partial/header'); -%>
    <div class="content">
        <!-- Your main content goes here -->
        <div class="contactus">
          <div>
            <img src="images/contact us.jpg" alt="contact us image">
          </div>
          <div>
            <h1>Contact Us for PULEET Admission Inquiries :</h1>
            <br>
            <p>Welcome to the contact page for PULEET Admission at Panjab University, Chandigarh. We are dedicated to providing comprehensive assistance and guidance to prospective candidates interested in pursuing the Punjab University Lateral Engineering Entrance Test (PULEET) program. Should you have any questions, concerns, or require further information regarding the admission process, our team is here to assist you every step of the way.
            </p>
            <h4>Contact Information:</h4>
            <h6>Coordinator, PULEET Admission</h6>
            <h6>Assistant Registrar, CET Cell</h6>
            <h6>Panjab University, Sector 14</h6>
            <h6>Chandigarh - 160 014</h6>
            <h6>Email: <a href=" mailto:puleet@pu.ac.in" target="_blank">puleet@pu.ac.in</a></h6>
            <br>
            <p><strong style="color: red; font-weight: 700;">Note :</strong> To ensure a swift and accurate response to your inquiries, please include the following information in your correspondence:</p>
            <p>
              <ul>
                <li>Your Full Name</li>
                <li>Application Number (if applicable)</li>
                <li>Relevant details pertaining to your query or concern</li>
              </ul>
            </p>
            <br> <br>
            <h5>How We Can Assist You:</h5>
            <p></p>
            <h5></h5>
            <p>Our dedicated team of professionals is committed to providing prompt and personalized assistance to address all your PULEET admission-related inquiries. Whether you seek clarification on the application process, require information regarding eligibility criteria, or need guidance on important dates and deadlines, we are here to help.</p>
            <h5>Submit Your Inquiry:</h5>
            <p>To contact us, please fill out the form provided below with your name, email address, subject, and message. We strive to respond to all inquiries in a timely manner and ensure that you receive the support you need to navigate the PULEET admission process seamlessly.</p>
            <h5>Stay Connected:</h5>
            <p>Stay informed about the latest updates, announcements, and news related to PULEET admission by following us on our official social media channels. Connect with us on Facebook, Twitter, and LinkedIn to stay connected with the Panjab University community and receive timely updates regarding admission procedures and important notifications.<br>

              Thank you for considering Panjab University for your academic pursuits. We look forward to assisting you with your PULEET admission inquiries and welcoming you to our esteemed institution.
              <br> <br>
              Warm regards,<br>
              Coordinator, PULEET Admission<br>
              Assistant Registrar, CET Cell<br>
              Panjab University, Chandigarh</p>          
          
          </div>
        </div>
        
    </div>

  <%- include('partial/footer'); -%>
</body>
</html>
