<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PULEET 2024-Panjab University</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
</head>
<body>

  <%- include('partial/header'); -%>
    

    <div id="hyperlink">
        <h1>Hyperlink Policy</h1>
        <br>
        <p><h3>Links to External Websites/Portals</h3>
            <br>
            Throughout this PULEET website, you may encounter links to other websites/portals. These links have been provided for your convenience. However, Panjab University is not responsible for the contents and reliability of these linked websites and does not necessarily endorse the views expressed therein. The mere presence of a link or its listing on this website should not be construed as an endorsement of any kind. We cannot guarantee that these links will remain functional at all times, and we have no control over the availability of linked pages.
            <br><br>
            <h3>Links to the PULEET Website by Other Websites/Portals</h3>
            <br>
            Prior permission is required before hyperlinks are directed from any website/portal to the PULEET website. Permission for such links should be obtained by sending a request to the relevant stakeholder, stating the nature of the content on the pages from which the link will be given and providing the exact language of the hyperlink.</p>
        
    </div>
    
  <%- include('partial/footer'); -%>
</body>
</html>
