<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PULEET 2024-Panjab University</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
</head>
<body>

  <%- include('partial/header'); -%>
  <object type="text/html" data="preloader.html"></object>


    <div id="home">
      <h2>WELCOME</h2>
      <hr>
      <div>
        <h4 style="color: red;">Notice and Circulars:</h4>
        <br>
        <div class="notice">
          <ul>
            <li><a href="PDFs/SCRUTINY_form_PULEET_2023.pdf" target="_blank">Scrutiny form PULEET 2023 </a><img src="images/new.gif"></li>
            <br>
            <li><a href="PDFs/instruction_general.pdf" target="_blank">General Instructions </a><img src="images/new.gif"></li>
            <br>
            <li><a href="PDFs/ADMISSION_form_PULEET_2023.pdf" target="_blank">Admission Form PULEET 2023 </a><img src="images/new.gif"></li>
            <br>
            <li style="color: red;">Venue for Counselling: Lab-315, UIET Block -2, Sector -25, Panjab University, Chandigarh.</li>
            <br>
            <li style="color: red;">Demand draft of Rs. 1000/-(counselling fee)(non-refundable) and Rs. 45000/- (Admission fee) should be in favour of Chairman Joint Admission Committee payable at Chandigarh.</li>
          </ul>
        </div>
        <br>
        <div class="notice">
          <ul>
            <li><a href="login.html"  alt="login" style="color: blue;">Click here to download your admit card!!!</a></li>
          </ul>
        </div>
      </div>
      <br>
      <hr>
      <div>
        <h5>STEPS TO FOLLOW :</h5>
        <p>
          <ul>
            <li>Register Online. <span style="color: red;">[last date for registration: June 09, 2023]</span></li>
            <li>Note down your Login Id and Password.</li>
            <li>Login to your account to pay fee online <span style="color: red;">[last date for submission of fee: June 12, 2023]</span></li>
            <li>After successful payment, Upload scanned passport size photograph, signature, fill other important information and Save and Confirm. (Once you confirm the form, you will not be allowed to change information in the form). <span style="color: red;">[last date for completion of form: June 14, 2023]</span> </li>
            <li>Download your Admit Card after June 19, 2023.</li>
          </ul>
        </p>
        <h6>For Admission to:</h6>
        <p>
          <ol>
            <li><p>Institutes governed by the Reservation Rules of Panjab University, Chandigarh</p></li>
            <ul>
              <li>University Institute of Engineering & Technology, Chandigarh.</li>
              <li>Dr. S.S. Bhatnagar University Institute of Chemical Engineering and Technology, Chandigarh.</li>
              <li>University Institute of Engineering & Technology, Panjab University Swami Sarvanand Giri, Regional Centre, Hoshiarpur.</li>
            </ul>
            <br>
            <li><p>Institutes governed by the Reservation rules of Chandigarh Administration</p></li>
            <ul>
              <li>Chandigarh College of Engineering & Technology(Degree Wing), Sector 26, Chandigarh.</li>
            </ul>
          
          </ol>
        </p>
        <br>
        <h5 style="color: red;"><strong>NOTE :</strong></h5>
        <ul>
          <li style="color: red;"><em>The fee for the Entrance Test once paid shall not be refunded.</em></li>
          <li style="color: red;"><em>Once the candidate has submitted the online Entrance Test form, any change in the form including category once marked shall not be allowed.</em></li>
          <li>If more than 24 Hrs. have passed after depositing the fee in bank and your journal number is not confirmed, write to puleet@pu.ac.in with scanned copy of bankslip.</li>
          <li>Candidate availing concession in the fee under category SC/ST/PwD OR Class B/C Regular Employee of PU must send the copy of printout of their Entrance Test Form along with Category Certificate / Performa for claiming 50% concession for P.U. Regular Employees (“B”and “C” Class) duly signed by Head/Chairperson to Assistant Registrar, CET Cell, Aruna Ranjit Chandra Hall, Panjab University, Chandigarh-160014 by registered post/speed post or by hand on or before 16-06-2023 upto 4:00 p.m.</li>
          <li style="color: red;">Mere login id creation OR deposit of fee does not mean that candidate has completed his/her online application form. Incomplete form leads to cancellation of candidature. Any request for completion of form after due date will not be entertained at all.</li>
        </ul>
        <br>
        <h5>Entrance Test Fee [Non-Refundable/ Non-Transferable] :</h5>
        <br>
        <table>
          <thead>
              <tr>
                  <th>Category</th>
                  <th>Fee</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>General Category</td>
                  <td>Rs. 2395/-</td>
              </tr>
              <tr>
                  <td>SC/ST/PwD</td>
                  <td>Rs. 1198/-</td>
              </tr>
              <tr>
                  <td>Panjab University Regular Employees under B & C Class (Senate)</td>
                  <td>50% concession</td>
              </tr>
          </tbody>
      </table>

      </div>
        

    </div>
    
  <%- include('partial/footer'); -%>
  <script src="script.js"></script>
</body>
</html>
