<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PULEET 2024-Panjab University</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
</head>
<body>

  <%- include('partial/header'); -%>  

    <div id="online_reg">
        <h3 style="color: #052963;">PLEASE READ CAREFULLY STEPS OF REGISTRATION</h3>
        <h4 style="color: #052963;">STEP I</h4>
        <h6 style="color: red;">Please Read Instructions and Eligibility Criteria carefully before registration.
            Before depositing your application fee.......</h6>
        <ol>
            <li>Please enter your name as in matric (10th Class) certificate.</li>
            <li>Pick Date of Birth from Date picker.</li>
            <li>Enter your correct email ID.</li>
            <li>Enter your 10th Class Roll number.</li>
            <li>Select 10th Class board from drop down menu.</li>
            <li>Select 10th Class Passing year from drop down menu.</li>
            <li>Enter your Mobile No.</li>
            <li>Choose category if other than General.</li>
            <li>Select if you are or either of your Parents Class B or C Regular Employee of P.U.</li>
            <li>Select Centre for the Entrance Test.</li>
            <li>Click on submit button to save your details.</li>
            <li>Note your Application Number, login ID and Password carefully (login ID and password are case senstive).</li>
            <li>Login to your account to pay fee online.</li>
        </ol>
        <br>
        <h4 style="color: #052963;">STEP II</h4>
        <h6 style="color: red;">After depositing your application fee.......</h6>
        <ol>
            <li>Please login with your login ID and Password.</li>
            <li>Click on Click Here to Complete link to upload your scanned photograph,signature and other important information.</li>
            <li>After submitting the information, please check carefully and confirm your application form.</li>
            <li>Unconfirmed and incomplete application form will not be considered.</li>
            <li>Take printout of your application form after submitting information.</li>
        </ol>
        <br>
        <h5 style="color: red;">Now Click on Continue to start your registration process with us..........</h5>
        <div>
            <a href="registration">CONTINUE</a>
        </div>

    </div>    
    </div>
    <%- include('partial/footer'); -%>
</body>
</html>
