<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PULEET 2024-Panjab University</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
</head>
<body>

  <%- include('partial/header'); -%>    

    <div id="privacy">
        <h2>Privacy Policy</h2>
        <p>As a guiding principle, the PULEET website refrains from collecting Personal Information about visitors unless voluntarily provided.</p>
        <br>
        <h3>Site Visit Data:</h3>
        <p>For statistical purposes, this website logs certain information during your visit, including your server’s address, the top-level domain from which you access the Internet (e.g., .gov, .com, .in, etc.), your browser type, the date and time of access, the pages visited, documents downloaded, and the previous Internet address linking to the site. However, individual users and their browsing activities remain anonymous unless law enforcement agencies present a warrant to inspect the service provider’s logs.</p>
        <br>
        <h3>Cookies:</h3>
        <p>This website does not utilize cookies, which are pieces of software code sent by a website to your browser when accessing information on that site.</p>
        <br>
        <h3>Collection of Personal Information:</h3>
        <p>If asked for Personal Information, you will be duly informed of its intended use. You maintain the discretion to provide such information or not. Should you believe that the principles outlined in this privacy statement have not been adhered to, or if you have any comments regarding these principles, please notify the webmaster through the contact us page.</p>
        <br>
        <h3>Note:</h3>
        <p>In this privacy statement, "Personal Information" denotes any data from which your identity can be reasonably ascertained or is apparent.</p>



    </div>
  
  <%- include('partial/footer'); -%>
</body>
</html>
