<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PULEET 2024-Panjab University</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
</head>
<body>

  <%- include('partial/header'); -%>    

    <div id="tandc">
        <!-- Your main content goes here -->
        <h2>Terms and Conditions</h2>
        <br>
        <p>While every effort has been made to ensure the accuracy of the content on this website, it should not be construed as a statement of law or used for any legal purposes. Users are advised to verify/check with JoSAA and/or other sources in case of any ambiguity or doubts, and to seek appropriate professional advice.
            <br><br>
            Under no circumstances will Panjab University be liable for any expense, loss, or damage, including indirect or consequential loss or damage, arising from the use or loss of use of data, in connection with the use of this website.
            <br><br>
            These terms and conditions are governed by and construed in accordance with Indian laws. Any dispute arising under these terms and conditions shall be subject to the jurisdiction of the courts of India.
            <br><br>
            The information posted on this website may include hypertext links or pointers to information created and maintained by non-government/private organizations. Panjab University provides these links and pointers solely for your information and convenience. When you select a link to an outside website, you are leaving the PULEET website and are subject to the privacy and security policies of the owners/sponsors of the external website. Panjab University does not guarantee the availability of such linked pages at all times. Panjab University cannot authorize the use of copyrighted materials contained in linked websites. Users are advised to request authorization from the owner of the linked website. Panjab University does not guarantee that linked websites comply with Indian Government Web Guidelines.</p>
        
    </div>

  <%- include('partial/footer'); -%>
</body>
</html>
