<div id="header0">
    <ul>
        <li class="department-info"><a href="https://chandigarh.gov.in/" target="_blank">Chandigarh Administration | </a><a href="http://dhe.chd.gov.in/Version2/Index.aspx" target="_blank">Department of Higher Education</a></li>
    </ul>
</div>

<header class="header">
    <div id="header1">
        <img src="images/pu-logo.png">
    </div>
    <div id="header2">
        <h1>पंजाब विश्वविद्यालय, चंडीगढ़</h1>
        <h1>Panjab University, Chandigarh</h1>
        <h2>PULEET 2024</h2>
    </div>
</header>

<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #7f8a94;">
<div class="container-fluid">
<div class="d-flex justify-content-start">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
<div class="collapse navbar-collapse justify-content-center" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="index">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="online_registration">Online Registration</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="PDFs/puleet2023final.pdf" target="_blank">Prospectus</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="PDFs/Final-Seat-Matrix-2023.pdf" target="_blank">Seat Matrix<img src="images/new.gif"></a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Admission Counseling
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="login">Student login</a></li>
          <li><a class="dropdown-item" href="login_faculty">College login</a></li>
      </ul>
  </li>
    <li class="nav-item">
      <a class="nav-link" href="contact_us">Contact Us</a>
    </li>
  </ul>
</div>
</div>
</nav>

<div id="latest-news">
    <div>
        <h5><strong>Latest News :</strong></h5>
    </div>
    <div>
        <marquee>Demand draft of Rs. 1000/-(counselling fee)(non-refundable) and Rs. 45000/- (Admission fee) should be in favour of Chairman Joint Admission Committee payable at Chandigarh</marquee>
    </div>
</div>